html {
  height: 100%;
  width: 100%;
}
  table{
    width: 100%;
    border-collapse: collapse;
  }
   th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
  }
  th {
     background-color: mediumslateblue;
     color: blanchedalmond;
  }

  td { 
    background-color: mediumslateblue;
    color:rgb(155, 13, 13); 
  }
  h1, h2, h3 {
    color:honeydew;
    font-family:comic sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  p {
    color:honeydew;
    font-family:comic sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  li {
    color:honeydew;
    font-family:comic sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  a {
    color:rgba(0, 65, 245, 0.767);
    font-size: 20px;
    font-weight: bold;
  }
  body{
    background-color:#3B3B58;
  }
  #muitafomemuita {
    border: 2px solid rgb(226, 95, 95);
    background-color:#ee01f6;
    padding: 8px;
    text-align: center;
  }
  footer {
    background-color:rgb(155, 13, 13);
  }
    /*--ESTILO PARA O FORMULARIO --*/

.form-container {
max-width: 600px;
margin: 30px auto;
background-color: #fff5f8;
padding: 30px;
border-radius: 10px;
box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
border: 1px solid #dcb;
}

form {
display: flex;
flex-direction: column;
}

form label {
margin-top: 15px;
font-weight: bold;
color: brown;
}

form input,
form select,
form textarea {
margin-top: 5px;
padding: 10px;
font-size: 16px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #fff;
box-sizing: border-box;
}

form textarea {
resize: vertical;
}

form button{
margin-top: 25px;
padding: 12px;
font-size: 18px;
background-color:brown;
color:white;
border: none;
border-radius: 8px;
cursor: pointer;
transition: background-color 0.3s ease;
}

form button:hover {
background-color:#a0522d;
}